@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{font-family: 'VT323', monospace;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #d5abf3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* homesection */


.hero {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 400px;
  margin-bottom: 20px;
}

.hero h2 {
  text-align: center;
  font-size: 50px;
  color: #5a5251;
}

.home-logo {
  border-bottom: 3px solid #ffffff;

}


/* navbar section */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin: 5px 10px 0px 10px;
 border-bottom: 1px solid #ffffff;

}



.nav-container button, .elsa-button, .listButton {
  outline: none;
  border:none;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  font-size: 16px;
  
  color: rgb(174, 40, 127);
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 4px #f25b5b;
}

.btn:hover {
  box-shadow: 0 4px #d4412e;
  top: 2px;
}

.btn:active {
  box-shadow: none;
  top: 6px;
}

.active > button {
  color: rgb(206, 2, 70);
  background-color: rgba(255, 255, 255, 0.641);
}

.logo {
  height:140px;
}

h1{
  text-align: center;
}

/* about section */


.aboutHeading {
  text-align: center;
}

.aboutInfo {
  margin:25px;
  margin-left: 350px;
  margin-right:350px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  text-align: left;
}

.aboutImage {
  width: 400px;
}


.container {
  margin:25px;
  margin-left: 350px;
  margin-right:350px;
  padding: 10px;
  display: grid;
  align-items:baseline; 
  grid-template-columns: 1fr 1fr ;
  column-gap: 25px;
 list-style-type: none;
}

li {
  border: 2px solid white;
  padding:10px 20px 10px 20px;
}

ul li{
  margin-bottom: 20px;
}
.container img {
  height:350px;
  width: 350px;
}

.container h2,h3 {
 width: 320px;
  text-align: center;
}

.elsa-button {
  background-color: #e28cc6;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form section  */
.formListing {
  display: block;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #f9f9f99b;
  display: grid;
  grid-template-columns: 1fr  ;
  
 width: 600px;
 align-content: center;
 padding: 15px;
 
 
}

input {
  height: 20px;
}

label {
  font-size: 20px;
  margin: 5px;
}

.listButton {
  margin: 20px;
  font-size: 20px;
}

.logo-form img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr  ;
  column-gap: 5px;
}

/* 404 page */
.error {
  width: auto;
  height: 580px;
}